*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    position: relative;
    padding: 20px;
    text-align: center;
    margin-top:20px;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    color: #c0d631;
}

.fonfo_adactable{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: fill;
}

.primero{
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.mensaje{
    width: 350px;
    height: 210px;
    position: relative;
    z-index: 1;
    background-color: #77912399 ;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 4px solid yellow;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
    margin: 10px;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    color: #034e0f;
}

#contraseña{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #99be1050;
    border-radius: 50px;
    margin: 5px;
    color: white;
    outline: none;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(2, 95, 12);
}

.entrar{
    border-radius: 30px;
    padding: 7px;
    background-color: #024a0704;
    font-weight: bold;
}

#enviar{
    width: 120px;
    border: 2px solid #024515b5;
}
